@model FitUp.Domain.DTO.UserRegistrationDto
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="vh-100">
  <div class="">
       @Html.ValidationSummary()
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-4">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <form class="mx-1 mx-md-4" asp-action="Register" asp-controller="Account" method="post">

                  <div class="d-flex flex-row align-items-center mb-1 mt-2">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "form-control" })
                       @Html.ValidationMessageFor(m => m.Email)
                      <label class="form-label" asp-for="@Model.Email" for="form3Example1c"></label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-1">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      @Html.TextBoxFor(m => m.Name, new { placeholder = "Name", @class = "form-control" })
                       @Html.ValidationMessageFor(m => m.Name)
                      <label class="form-label" asp-for="@Model.Name" for="form3Example3c"></label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-1">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                       @Html.TextBoxFor(m => m.LastName, new { placeholder = "Last Name", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LastName)
                      <label class="form-label" asp-for="@Model.LastName" for="form3Example4c"></label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-1">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                       @Html.TextBoxFor(m=> m.Address , new {placeholder = "Address" , @class = "form-control"})
                        @Html.ValidationMessageFor(m => m.Address)
                      <label class="form-label" asp-for="@Model.Address" for="form3Example4cd"></label>
                    </div>
                  </div>

                   <div class="d-flex flex-row align-items-center mb-1">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password)
                      <label class="form-label" asp-for="@Model.Password" for="form3Example4cd"></label>
                    </div>
                  </div>

                   <div class="d-flex flex-row align-items-center mb-2">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                     @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                      <label class="form-label" asp-for="@Model.ConfirmPassword" for="form3Example4cd"></label>
                    </div>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-1 mb-lg-1">
                    <input type="submit" class="btn btn-primary btn-lg" value="Register"></input>
                  </div>

                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
